* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body{
    background-color: #e7e2e49f;

}

h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    
}

h3 {
    display: flex;
    justify-content: center;
    margin: 50px;
}

h4{
    display: flex;
    justify-content: center;
    padding: 5%;
    font-size: 15px;
}

span {
    font-size: 40px;
    color: red;

}

p {
    display: flex;
    align-items: center;
    margin: 25px;
    font-size: 18px;
   
}


@media(max-width: 630px){
    .gridContainer {
        grid-template-areas: 
        "mainContent"
        "siderbarContent";
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .sidebarContent{
        min-width: auto;
    }

    .footerAnchor{
        font-size: 19px;
    }
}

@media(max-width:463px) {
    .header{
        justify-content: center;
    }

    .footer{
        justify-content: center;
    }

}